#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: .6rem;
    width: 93%;
}

.game-widget {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & img {
        height: 3rem;
        width: auto;
    }

    & img + div {
        width: 60%;
    }
}

@media screen and (min-width: 640px) {
    main {
        width: 65%;
        padding: 1.2rem;
    }
}