.card.result {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: .1rem .7rem;

    margin-block-start: .5rem;

    & + & {
        margin-block-start: 1rem;
    }
}